@import "tailwindcss";

@font-face {
  font-family: "inter-variable";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/inter-variable.woff2?v=4.1') format('woff2');
}

@font-face {
  font-family: "inter-variable";
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/inter-variable-italic.woff2?v=4.1') format('woff2');
}

:root {
  --color-background-default: var(--color-white);
  --color-background-neutral-strong: var(--color-neutral-200);
  --color-background-neutral: var(--color-neutral-100);
  --color-background-neutral-weak: var(--color-neutral-50);
  --color-background-neutral-reverse-strong: var(--color-neutral-900);
  --color-background-neutral-reverse: var(--color-neutral-800);
  --color-background-ppg-strong: var(--color-teal-100);
  --color-background-ppg: var(--color-teal-50);
  --color-background-ppg-reverse-strong: var(--color-teal-600);
  --color-background-ppg-reverse: var(--color-teal-500);
  --color-background-orm-strong: var(--color-indigo-100);
  --color-background-orm: var(--color-indigo-50);
  --color-background-orm-reverse-strong: var(--color-indigo-600);
  --color-background-orm-reverse: var(--color-indigo-500);
  --color-background-error-strong: var(--color-red-100);
  --color-background-error: var(--color-red-50);
  --color-background-error-reverse-strong: var(--color-red-600);
  --color-background-error-reverse: var(--color-red-500);
  --color-background-success-strong: var(--color-teal-100);
  --color-background-success: var(--color-teal-50);
  --color-background-success-reverse-strong: var(--color-teal-600);
  --color-background-success-reverse: var(--color-teal-500);
  --color-background-warning-strong: var(--color-amber-100);
  --color-background-warning: var(--color-amber-50);
  --color-background-warning-reverse-strong: var(--color-amber-600);
  --color-background-warning-reverse: var(--color-amber-500);
  --color-background-cyan-strong: var(--color-cyan-100);
  --color-background-cyan: var(--color-cyan-50);
  --color-background-fuchsia-strong: var(--color-fuchsia-100);
  --color-background-fuchsia: var(--color-fuchsia-50);
  --color-background-lime-strong: var(--color-lime-100);
  --color-background-lime: var(--color-lime-50);
  --color-background-pink-strong: var(--color-pink-100);
  --color-background-pink: var(--color-pink-50);
  --color-background-purple-strong: var(--color-purple-100);
  --color-background-purple: var(--color-purple-50);
  --color-background-sky-strong: var(--color-sky-100);
  --color-background-sky: var(--color-sky-50);
  --color-background-violet-strong: var(--color-violet-100);
  --color-background-violet: var(--color-violet-50);
  --color-background-yellow-strong: var(--color-yellow-100);
  --color-background-yellow: var(--color-yellow-50);
  --color-foreground-neutral: var(--color-neutral-900);
  --color-foreground-neutral-weak: var(--color-neutral-500);
  --color-foreground-neutral-weaker: var(--color-neutral-400);
  --color-foreground-neutral-reverse: var(--color-white);
  --color-foreground-neutral-reverse-weak: var(--color-neutral-50);
  --color-foreground-ppg-strong: var(--color-teal-700);
  --color-foreground-ppg: var(--color-teal-600);
  --color-foreground-ppg-weak: var(--color-teal-500);
  --color-foreground-ppg-reverse: var(--color-white);
  --color-foreground-orm-strong: var(--color-indigo-700);
  --color-foreground-orm: var(--color-indigo-600);
  --color-foreground-orm-weak: var(--color-indigo-500);
  --color-foreground-orm-reverse: var(--color-white);
  --color-foreground-error-strong: var(--color-red-700);
  --color-foreground-error: var(--color-red-600);
  --color-foreground-error-weak: var(--color-red-500);
  --color-foreground-error-reverse: var(--color-white);
  --color-foreground-success-strong: var(--color-teal-700);
  --color-foreground-success: var(--color-teal-600);
  --color-foreground-success-weak: var(--color-teal-500);
  --color-foreground-success-reverse: var(--color-white);
  --color-foreground-warning-strong: var(--color-amber-700);
  --color-foreground-warning: var(--color-amber-600);
  --color-foreground-warning-weak: var(--color-amber-500);
  --color-foreground-warning-reverse: var(--color-white);
  --color-foreground-cyan-strong: var(--color-cyan-700);
  --color-foreground-cyan: var(--color-cyan-600);
  --color-foreground-fuchsia-strong: var(--color-fuchsia-700);
  --color-foreground-fuchsia: var(--color-fuchsia-600);
  --color-foreground-lime-strong: var(--color-lime-700);
  --color-foreground-lime: var(--color-lime-600);
  --color-foreground-pink-strong: var(--color-pink-700);
  --color-foreground-pink: var(--color-pink-600);
  --color-foreground-purple-strong: var(--color-purple-700);
  --color-foreground-purple: var(--color-purple-600);
  --color-foreground-sky-strong: var(--color-sky-700);
  --color-foreground-sky: var(--color-sky-600);
  --color-foreground-violet-strong: var(--color-violet-700);
  --color-foreground-violet: var(--color-violet-600);
  --color-foreground-yellow-strong: var(--color-yellow-700);
  --color-foreground-yellow: var(--color-yellow-600);
  --color-stroke-neutral-strong: var(--color-neutral-100);
  --color-stroke-neutral: var(--color-neutral-200);
  --color-stroke-neutral-weak: var(--color-neutral-300);
  --color-stroke-ppg: var(--color-teal-600);
  --color-stroke-orm: var(--color-indigo-600);
  --color-stroke-error: var(--color-red-600);
  --color-stroke-success: var(--color-amber-600);
  --color-stroke-warning: var(--color-teal-600);

  --font-family-sans: "inter-variable", sans-serif;
  --font-family-sans-display: "inter-variable", sans-serif;
}

.dark {
  --color-background-default: var(--color-neutral-900);
}

@theme {
  --font-sans: var(--font-family-sans);
  --font-sans-display: var(--font-family-sans-display);

  --shadow-sm: 0 0.0625rem 0.125rem 0 --alpha(var(--color-background-neutral-reverse) / 4%);
  --shadow-md: 0 0.5rem 0.5rem -0.5rem --alpha(var(--color-background-neutral-reverse) / 4%), 0 0.125rem 0.125rem 0 --alpha(var(--color-background-neutral-reverse) / 4%);
  --shadow-lg: 0 0.5rem 1rem -0.25rem --alpha(var(--color-background-neutral-reverse) / 4%), 0 0.125rem 0.125rem 0 --alpha(var(--color-background-neutral-reverse) / 4%);

  --text-2xs: 0.6875rem;
  --text-2xs--line-height: 1rem;
}

@utility font-features-sans {
  font-feature-settings: "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv05" on, "cv06" on, "cv07" on, "cv08" on, "cv09" on, "cv10" on, "cv11" on;
}

@utility font-features-sans-display {
  font-feature-settings: "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv05" on, "cv06" on, "cv07" on, "cv08" on, "cv09" on, "cv10" on, "cv11" on;
}