@import "tailwindcss";

@theme inline {
  --text-2xs: 0.6875rem;
  --text-2xs--line-height: 1rem;

  --blur-low: var(--blur-lg);
  --blur-default: var(--blur-xl);
  --blur-high: var(--blur-2xl);

  --radius-low: 0.1875rem;
  --radius-default: 0.375rem;
  --radius-high: 0.75rem;

  --color-background-default: var(--color-white);
  --color-background-neutral-strong: var(--color-neutral-200);
  --color-background-neutral: var(--color-neutral-100);
  --color-background-neutral-weak: var(--color-neutral-50);
  --color-background-neutral-reverse-strong: var(--color-neutral-900);
  --color-background-neutral-reverse: var(--color-neutral-800);
  --color-background-ppg-strong: var(--color-teal-100);
  --color-background-ppg: var(--color-teal-50);
  --color-background-ppg-reverse-strong: var(--color-teal-600);
  --color-background-ppg-reverse: var(--color-teal-500);
  --color-background-orm-strong: var(--color-indigo-100);
  --color-background-orm: var(--color-indigo-50);
  --color-background-orm-reverse-strong: var(--color-indigo-600);
  --color-background-orm-reverse: var(--color-indigo-500);
  --color-background-error-strong: var(--color-red-100);
  --color-background-error: var(--color-red-50);
  --color-background-error-reverse-strong: var(--color-red-600);
  --color-background-error-reverse: var(--color-red-500);
  --color-background-success-strong: var(--color-teal-100);
  --color-background-success: var(--color-teal-50);
  --color-background-success-reverse-strong: var(--color-teal-600);
  --color-background-success-reverse: var(--color-teal-500);
  --color-background-warning-strong: var(--color-amber-100);
  --color-background-warning: var(--color-amber-50);
  --color-background-warning-reverse-strong: var(--color-amber-600);
  --color-background-warning-reverse: var(--color-amber-500);
  --color-background-cyan-strong: var(--color-cyan-100);
  --color-background-cyan: var(--color-cyan-50);
  --color-background-fuchsia-strong: var(--color-fuchsia-100);
  --color-background-fuchsia: var(--color-fuchsia-50);
  --color-background-lime-strong: var(--color-lime-100);
  --color-background-lime: var(--color-lime-50);
  --color-background-pink-strong: var(--color-pink-100);
  --color-background-pink: var(--color-pink-50);
  --color-background-purple-strong: var(--color-purple-100);
  --color-background-purple: var(--color-purple-50);
  --color-background-sky-strong: var(--color-sky-100);
  --color-background-sky: var(--color-sky-50);
  --color-background-violet-strong: var(--color-violet-100);
  --color-background-violet: var(--color-violet-50);
  --color-background-yellow-strong: var(--color-yellow-100);
  --color-background-yellow: var(--color-yellow-50);
  --color-foreground-neutral: var(--color-neutral-900);
  --color-foreground-neutral-weak: var(--color-neutral-500);
  --color-foreground-neutral-weaker: var(--color-neutral-400);
  --color-foreground-neutral-reverse: var(--color-white);
  --color-foreground-neutral-reverse-weak: var(--color-neutral-50);
  --color-foreground-ppg-strong: var(--color-teal-700);
  --color-foreground-ppg: var(--color-teal-600);
  --color-foreground-ppg-weak: var(--color-teal-500);
  --color-foreground-ppg-reverse: var(--color-white);
  --color-foreground-orm-strong: var(--color-indigo-700);
  --color-foreground-orm: var(--color-indigo-600);
  --color-foreground-orm-weak: var(--color-indigo-500);
  --color-foreground-orm-reverse: var(--color-white);
  --color-foreground-error-strong: var(--color-red-700);
  --color-foreground-error: var(--color-red-600);
  --color-foreground-error-weak: var(--color-red-500);
  --color-foreground-error-reverse: var(--color-white);
  --color-foreground-success-strong: var(--color-teal-700);
  --color-foreground-success: var(--color-teal-600);
  --color-foreground-success-weak: var(--color-teal-500);
  --color-foreground-success-reverse: var(--color-white);
  --color-foreground-warning-strong: var(--color-amber-700);
  --color-foreground-warning: var(--color-amber-600);
  --color-foreground-warning-weak: var(--color-amber-500);
  --color-foreground-warning-reverse: var(--color-white);
  --color-foreground-cyan-strong: var(--color-cyan-700);
  --color-foreground-cyan: var(--color-cyan-600);
  --color-foreground-fuchsia-strong: var(--color-fuchsia-700);
  --color-foreground-fuchsia: var(--color-fuchsia-600);
  --color-foreground-lime-strong: var(--color-lime-700);
  --color-foreground-lime: var(--color-lime-600);
  --color-foreground-pink-strong: var(--color-pink-700);
  --color-foreground-pink: var(--color-pink-600);
  --color-foreground-purple-strong: var(--color-purple-700);
  --color-foreground-purple: var(--color-purple-600);
  --color-foreground-sky-strong: var(--color-sky-700);
  --color-foreground-sky: var(--color-sky-600);
  --color-foreground-violet-strong: var(--color-violet-700);
  --color-foreground-violet: var(--color-violet-600);
  --color-foreground-yellow-strong: var(--color-yellow-700);
  --color-foreground-yellow: var(--color-yellow-600);
  --color-stroke-neutral-strong: var(--color-neutral-100);
  --color-stroke-neutral: var(--color-neutral-200);
  --color-stroke-neutral-weak: var(--color-neutral-300);
  --color-stroke-ppg: var(--color-teal-600);
  --color-stroke-orm: var(--color-indigo-600);
  --color-stroke-error: var(--color-red-600);
  --color-stroke-success: var(--color-amber-600);
  --color-stroke-warning: var(--color-teal-600);
}

.font-heading-1 {
  @apply font-sans font-semibold text-2xl;
}

.font-heading-2 {
  @apply font-sans font-semibold text-xl;
}

.font-heading-6 {
  @apply font-sans font-medium text-2xs tracking-widest uppercase;
}

.font-body-1 {
  @apply font-sans font-normal text-base;
}

.font-body-1-strong {
  @apply font-sans font-medium text-base;
}

.font-body-1-stronger {
  @apply font-sans font-semibold text-base;
}

.font-body-2 {
  @apply font-sans font-normal text-sm;
}

.font-body-2-strong {
  @apply font-sans font-medium text-sm;
}

.font-body-2-stronger {
  @apply font-sans font-semibold text-sm;
}

.font-body-3 {
  @apply font-sans font-normal text-xs;
}

.font-body-3-strong {
  @apply font-sans font-medium text-xs;
}

.font-body-3-stronger {
  @apply font-sans font-semibold text-xs;
}